<div class="keyboard">
    <div class="row">
        <button class="key" data-v="p">P</button>
        <button class="key" data-v="o">O</button>
        <button class="key" data-v="i">I</button>
        <button class="key" data-v="u">U</button>
        <button class="key" data-v="y">Y</button>
        <button class="key" data-v="t">T</button>
        <button class="key" data-v="r">R</button>
        <button class="key" data-v="e">E</button>
        <button class="key" data-v="w">W</button>
        <button class="key" data-v="q">Q</button>
    </div>
    <div class="row">
        
        <button class="key" data-v="l">L</button>
        <button class="key" data-v="k">K</button>
        <button class="key" data-v="j">J</button>
        <button class="key" data-v="h">H</button>
        <button class="key" data-v="g">G</button>
        <button class="key" data-v="f">F</button>
        <button class="key" data-v="d">D</button>
        <button class="key" data-v="s">S</button>
        <button class="key" data-v="a">A</button>
    </div>
    <div class="row">
        <button class="action key" data-v="enter">
            ENTER
        </button>
        <button class="key" data-v="m">M</button>
        <button class="key" data-v="n">N</button>
        <button class="key" data-v="b">B</button>
        <button class="key" data-v="v">V</button>
        <button class="key" data-v="c">C</button>
        <button class="key" data-v="x">X</button>
        <button class="key" data-v="z">Z</button>
        <button class="action key" data-v="delete">
            DEL
        </button>
    </div>
</div>