<div class="keyboard">
    <div class="row">
        <button>P</button>
        <button>O</button>
        <button>I</button>
        <button>U</button>
        <button>Y</button>
        <button>T</button>
        <button>R</button>
        <button>E</button>
        <button>W</button>
        <button>Q</button>
    </div>
    <div class="row">
        <button>L</button>
        <button>K</button>
        <button>J</button>
        <button>H</button>
        <button>G</button>
        <button>F</button>
        <button>D</button>
        <button>S</button>
        <button>A</button>
    </div>
    <div class="row">
        <button class="action">
            <span>
                ENTER
            </span>
        </button>
        <button>M</button>
        <button>N</button>
        <button>B</button>
        <button>V</button>
        <button>C</button>
        <button>X</button>
        <button>Z</button>
        <button class="action">
            <span>
                DEL
            </span>
        </button>
    </div>
</div>